extends layout

block content

  .jumbotron
    h1 CAAS
    h3 Compliments as a Service

  h1 Introduction
  h6 CAAS (Compliments as a Service) is the cheap and scalable way to be nice.
  
  a(href="http://spence.xyz/compliments-as-a-service/") Learn More

  br
  br

  h3 Compliments
  table.table
    tbody
      tr
        th Path
        th Description
      tr
        td /pg/:name/:from
        td Will return ':name, your hear is as warm as my mother's freshly baked banana bread.', e.g. <a href="/pg/Victoria/Mr.%20Girgis">/pg/Victoria/Mr.%20Girgis</a> 
      tr
        td /elf/:name
        td Will return ':name, you have such a pretty face, you should be a on a Christmas card! - Buddy the Elf', e.g. <a href="/elf/Deb">/elf/Deb</a>
      tr
        td /zoolander/:from
        td Will return 'I friggin' worship you, man! - :from', e.g. <a href="/zoolander/Hansel">/zoolander/Hansel</a>
      tr
        td /groundhog/:name/:from
        td Will return ':name, you like boats, but not the ocean. You go to a lake in the summer with your family up in the mountains. There's a long wooden dock and a boathouse with boards missing from the roof, and a place you used to crawl underneath to be alone. You're a sucker for French poetry and rhinestones. You're very generous. You're kind to strangers and children, and when you stand in the snow you look like an angel. - :from', e.g. <a href="/groundhog/Rita/Phil">/groundhog/Rita/Phil</a>
      tr
        td /strings/:from
        td Will return 'You give me premature ventricular contractions. - :from', e.g. <a href="/strings/Jane">/strings/Jane</a>
      tr
        td /lotr/:from
        td Will return 'I would rather spend one lifetime with you than face all the Ages of this world alone. - :from', e.g. <a href="/lotr/Arwen">/lotr/Arwen</a>
      tr
        td /dd/:from
        td Will return 'Me? I'm scared of everything. I'm scared of what I saw, I'm scared of what I did, of who I am, and most of all I'm scared of walking out of this room and never feeling the rest of my whole life the way I feel when I'm with you. - :from' e.g. <a href="/dd/Baby">/dd/Baby</a>
      tr
        td /harry/:from
        td Will return 'I love that you get cold when it's 71 degrees out. I love that it takes you an hour and a half to order a sandwich. I love that you get a little crinkle above your nose when you're looking at me like I'm nuts. I love that after I spend the day with you, I can still smell your perfume on my clothes. And I love that you are the last person I want to talk to before I go to sleep at night. And it's not because I'm lonely, and it's not because it's New Year's Eve. I came here tonight because when you realize you want to spend the rest of your life with somebody, you want the rest of your life to start as soon as possible. - :from', e.g. <a href="/harry/Harry">/harry/Harry</a>
      tr
        td /wethot/:from
        td Will return 'When we first started hanging out together, this morning, we were just friends; but things change, and I've fallen in love with you. I just know that if you gave me a chance, I could make you feel so good. So I am coming, not as your buddy, and not as a co-counselor, but for the first time as a man - a man who loves a woman, and who wants to hold her and provide for her and, yes, have sex with her; but no, seriously, :name, I love the way you laugh and I love the way your hair smells and I love it that sometimes for no reason you're late for shul, and I don't care that you're bowlegged and I don't care that you're bilingual - all I know is that I would have said no to every single person on your list because I've always wanted you. - :from', e.g. <a href="/wethot/Katie/Coop">/wethot/Katie/Coop</a>
      tr
        td /napoleon/:from
        td Will return 'I see you're drinking 1%. Is that 'cause you think you're fat? 'Cause you're not. You could be drinking whole if you wanted to.', e.g. <a href="napoleon/Napoleon">/napoleon/Napoleon</a>
      tr
        td /charade/:name/:from
        td Will return 'Do you know what's wrong with you, :name? Nothing! - :from', e.g. <a href="/charade/Peter/Reggie">/charade/Peter/Reggie</a>

  h3 Ann &amp Leslie
  table.table
    tbody
      tr
        th Path
        th Description
      tr
        td /leslie/fish/:name/:from
        td Will return ':name, you beautiful tropical fish. You’re smart as a whip and you’re cool under pressure. - :from', e.g. <a href="/leslie/fish/Ann/Leslie">/leslie/fish/Ann/Leslie</a>
      tr
        td /moth/:name/:from
        td Will return 'Oh, :name, you beautiful, rule-breaking moth. - :from', e.g. <a href="/moth/Ann/Leslie">/moth/Ann/Leslie</a>
      tr
        td /ox/:name/:from
        td Will return ':name, you are such a good friend, you’re a beautiful, talented, brilliant, powerful musk-ox. Thank you, ox. - :from', e.g. <a href="/ox/Ann/Leslie">/ox/Ann/Leslie</a>
      tr
        td /unicorn/:name/:from
        td Will return ':name, you know that I fully support any woman’s decision, especially a beautiful unicorn nurse like yourself, in creating the family that she wants. But you are so brilliant and kind and stupid hot, you’re definitely going to find a wonderful guy who loves you and respects you and fills your home with multiethnic genius babies. - :from', e.g. <a href="/unicorn/Ann/Leslie">/unicorn/Ann/Leslie</a>




